---
BasedOnStyle: LLVM
Language: ObjC
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
IndentCaseLabels: false
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerAlignment: Right
SortIncludes: CaseSensitive
SpacesInContainerLiterals: false
...
